
<header>
    <nav class="nav" style="background: rgb(123, 123, 172);; width: 100vw; height: 10vh; position: absolute; top:0; left:0" >
        <a href="{% url 'index' %}" class ="index" style="margin: 2rem; color: white; font-weight: bold; font-size: 14pt; text-decoration: none; ">Faith Blog</a> 
        <a href="{% url 'posts' %}" class="posts" style="position: relative; left: 60%; top: 5vh; color: white; font-weight: bold; font-size: 14pt; text-decoration: none">All Posts</a> 
        
    </nav>
<header>