.profile {
  height: 40vh;
  width: 100%;
  background-color: rgb(123, 123, 172);
  position: relative;
  top: 8vh;
}

.profile:hover {
  background-color: white;
  
}

.profile img {
  height: 30vh;
  width: 15vw;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0.26);
  position: relative;
  left: 5vw;
}

.profile img:hover {
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  transform: translateZ(0);
  transform: scale(1.1);
}

.profile-heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  color: white;
  position: absolute;
  left: 22%;
  top: 5%;
 
}

.profile-heading:hover {
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  transform: translateZ(0);
  transform: scale(1.1);
  color:  rgb(123, 123, 172);
}

.profile-text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16pt;
  text-align: center;
  position: absolute;
  left: 30%;
  top: 5%;
}

.profile-text:hover {
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  transform: translateZ(1);
  transform: scale(1.1);
}

.index-cards {
  width: 18vw;
  height: 40vh;
  position: relative;
  top: 5vh;
}

.index-cards:hover {
  transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  transform: translateZ(0);
  transform: scale(1.1);
  color: rgb(123, 123, 172);
}

.images-container {
  display: inline-flex;
  height: 50vh;
  width: 60vw;
  position: absolute;
  top: 40vh;
  left: 22vw;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.images-container a {
  text-decoration: none;
  color: black;
}

.images-container img {
  height: 20vh;
  width: 15vw;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0.26);
  margin-left: 1rem;
}

.images-container h1,
.images-container p {
  margin-left: 1rem;
}

.images-container h1 {
  font-size: 16pt;
}

.images-container p {
  font-size: 12pt;
}

.index-author {
  font-weight: bold;
}

.index-date {
  font-weight: bold;
}

.index-heading:hover,
.index-date:hover,
.index-author:hover,
.index-excerpt:hover {
  color: rgb(123, 123, 172);
}
